
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-50: #F6F8FF;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
